{% extends "layout.html" %}

{% block content %}


<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;


 margin-left:auto; margin-right:auto;

  table-layout: auto;


}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Diagnostics</h2>

<table>
  <tr>
    <th>patient id</th>
    <th>name</th>
    <th>age</th>
      <th>adress</th>
      <th>DOJ</th>
      <th>type</th>

  </tr>
  <tr>
    <td>1</td>
    <td>abhijit</td>
    <td>22</td>
      <td>khardi</td>
       <td>05051998</td>
       <td>single</td>
</table>


<br>
<h2>diagnostics conducted </h2>
<table>
    <tr>
    <th>diagnostics</th>
    <th>rate</th>


  </tr>
  <tr>
    <td></td>
    <td></td>

</table>
<br>
 <div style="text-align:center;">
    <button>issued diagnostics</button>
</div>
<br>
<table>
    <tr>
    <th>diagnostics</th>
    <th>rate</th>


  </tr>
  <tr>
    <td></td>
    <td></td>

</table>
<div style="text-align:right;">
    <button>add</button>
</div>
<br>
<div style="text-align:center;">
    <button>update</button>
</div>

</body>
</html>


{% endblock %}