{% extends "layout.html" %}

{% block content %}
<h2><strong>LOGIN</strong></h2>
<div class="form-box">
    <form name="login" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td><h4>{{ form.username.label }}</h4></td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td><h4>{{ form.password.label }}</h4></td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td>{{ form.submit() }}</td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}